@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto:wght@500&display=swap');


:root{
    --color-principal:rgb(11, 7, 32) ;
    --color-secundario:rgb(201, 114, 0) ;
    --color-terciario:rgb(11, 7, 32);
    --font-general:'Roboto', sans-serif;
}

*{
    padding: 0;
    margin: 0;
} 

body{
    background-color:var(--color-principal) ;
    font-family: var(--font-general);
}

.box-profile{
    position: fixed;
    background-color: rgb(18, 9, 43);
    width: 250px;
    height: 590px;
    left: 7%;
    top: 7%;
    border-radius: 5px;
    box-shadow: 10px 5px 1px  rgb(12, 6, 26);
}


.box-profile img{
    position: relative;
    max-width: 150px;
    display: block;
    margin: auto;
    top: 3%;
    background-color: var(--color-terciario);
    border-radius: 5em;
}

.box-profile h2{
    position: relative;
    top: 5%;
    font-weight: 100;
    color: #fff;
    text-align: center;
    background-color: var(--color-secundario);
    padding: 1px;
    box-shadow: 5px 3px black;
    
}
.box-profile h3{
    position: relative;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    top: 8%;
    display: block;
    margin: auto;
    background-color: var(--color-principal) ;
    border-radius: 10px;
    padding: 7px;
    width: 150px;
}
.icon-box-email{
    position: absolute;
    top: 47%;
    left: 2%;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 40px;
    color: #fff;
    background-color: var(--color-terciario);
    text-align: center;
}

.icon-sv{
    width: 30px;
}

.icon-box-phone{
   position: relative;
    top: -2%;
    left: 2%;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 40px;
    color: #fff;
    background-color: var(--color-terciario);
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.icon-sv-2{
    width: 30px;
}


.icon-box-location{
    position: relative;
    top: -10%;
    left: 2%;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 40px;
    color: #fff;
    background-color: var(--color-terciario);
    text-align: center;
    margin: 0px 0px 0px 0px;
}


.box-nav{
    position: absolute;
    left: 30%;
    top: 7%;
    width: 66%;
    height: 90%;
    background-color:rgb(18, 9, 43) ;
    box-shadow: 10px 5px rgb(12, 6, 26);
}


.box-nav nav{
    text-align: end;
    border-radius: 2px;
}

.contact-info{
    height: 60px;
    position: relative;
    top: 10%;
    background-color: var(--color-terciario);
    margin: 0px 0px 20px 0px;
}

.contact-info-2{
    height: 60px;
    position: relative;
    top: 2%;
    background-color: var(--color-terciario);
    margin: 0px 0px 20px 0px;
}
.contact-link{
    position: relative;
    left: 25%;
    top: 20%;
}
.contact-title{
    position: relative;
    text-align: center;
    top: 20%;
    color: #fff;
    font-size: 18px;
}

.contact-info a {
    text-decoration: none;
    color: #fff;
}

.contact-info-2 a{
    text-decoration: none;
    color: #fff;
}

.box-nav ul{
    
    list-style: none;
    position: relative;
    display: inline-block;
     background-color: var(--color-secundario);
    padding: 15px;
    border-radius: 0px 10px 0px 30px ;
}

.box-nav li{
    display: inline;
    float: left;
    
}

.box-nav a {
    text-decoration: none;
    display: block;
    padding: 8px 20px; 
    color: rgb(255, 255, 255);  
    font-size: 20px; 
    font-weight: 200px;

  }

.box-nav a:hover{
    color: var(--color-terciario);
}

.icon-twitter{
    position: relative;
    color: rgb(255, 255, 255);
    height: 30px;
    left: 20%;
    top: -50px;
}

.icon-instagram{
    position: relative;
    color: rgb(255, 255, 255);
    height: 30px;
    left: 40%;
    top: -83px;
}

.icon-linkedin{
    position: relative;
    color: rgb(255, 255, 255);
    height: 30px;
    left: 60%;
    top: -15px;

}



@media (max-width:1166px){

    .box-profile{
        top: 15%;
        left: 20%;
    }



    .box-nav{
        visibility: hidden;
    }
}